body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    position: relative;
}

.error::after {
    position: absolute;
    top: 0;
    left: 90%;
    content: "X";
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: red;
}

