
@{
    ViewBag.Title = "Curso Index";
}

<h2>Curso</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<form id="form form-inline">
    <div class="form-group">
        <label>Nombre:</label>
        <input id="txtnombre" type="text" class="form-control" />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="idbutton" type="button" class="btn btn-primary" value="Buscar" />
        <input id="idlimpiar" type="reset" class="btn btn-danger" value="Limpiar" />
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar
    </button>
    <div id="idtabla"></div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table style="width:80%;margin:auto">
                    <tr>
                        <td width="40%">Id Curso</td>
                        <td width="60%"><input type="text" id="txtIdCurso" readonly /></td>
                    </tr>
                    <tr>
                        <td>Ingrese nombre de curso</td>
                        <td><input type="text" id="txtnombre" /></td>
                    </tr>
                    <tr>
                        <td>Ingrese descripción del curso</td>
                        <td><input type="text" id="txtdescripcion" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="btnAceptar" type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/curso.js"></script>


