
@{
    ViewBag.Title = "Index";
}

<form>
    <h2>Repaso HTML</h2>
    <label>Ingrese número 1</label>
    <input type="text" id="txtnumero1" />
    <label>Ingrese número 2</label>
    <input type="text" id="txtnumero2" />
    <input type="button" value="Sumar" id="btnSumar" />
    <label id="lblRespuesta"></label>
    <input type="reset" value="Limpiar" id="btnLimpiar" />
</form>
<script src="~/Scripts/sumar.js"></script>
