
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lucho</td>
            <td>Gonzales</td>
            <td>Perez</td>
        </tr>
    </tbody>
</table>

