
@{
    ViewBag.Title = "TablaJS";
}

<h2>TablaJS</h2>
<div id="idtabla">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
            </tr>
        </thead>
        <tbody id="idtbody">
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/tabla.js"></script>

