
@{
    ViewBag.Title = "Index Periodo";
}
<h2>Index Periodo</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<form id="form form-inline">
    <div class="form-group">
        <label>Nombre:</label>
        <input id="txtnombre" type="text" class="form-control" />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="idbutton" type="button" class="btn btn-primary" value="Buscar" />
        <input id="idlimpiar" type="reset" class="btn btn-danger" value="Limpiar" />
    </div>
    <div id="idtabla"></div>
</form>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/periodo.js"></script>
