
@{
    ViewBag.Title = "Docente Index";
}

<h2>Docentes</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<form class="form form-inline">
    <select id="cboSexo" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    </select>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="btnBuscarSexo" type="button" class="btn btn-primary" value="Buscar" />
        <input id="idlimpiarCombo" type="reset" class="btn btn-danger" value="Limpiar" />
    </div>
</form>
<form>
    <div>Combo cargado</div>
    <select id="cbocombollenar" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    </select>
</form>
<form class="form form-inline">
    <div class="form-group">
        <label>Nombre:</label>
        <input id="txtnombre" type="text" class="form-control" />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="idbutton" type="button" class="btn btn-primary" value="Buscar" />
        <input id="idlimpiar" type="reset" class="btn btn-danger" value="Limpiar" />
    </div>

    <div id="idtabla"></div>
    <div id="tabla-curso"></div>
</form>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/docente.js"></script>


