
@{
    ViewBag.Title = "Index Rol página";
}
<h2>Index Periodo</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<form id="form form-inline">
    <div class="form-group">
        <label>Nombre:</label>
        <input id="txtnombre" type="text" class="form-control" />
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="idbutton" type="button" class="btn btn-primary" value="Buscar" />
        <input id="idlimpiar" type="reset" class="btn btn-danger" value="Limpiar" />
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar
    </button>

    <div id="idtabla"></div>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Periodo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table style="width: 80%; margin: auto">
                    <tr>
                        <td width="40%">Id Rol</td>
                        <td width="60%"><input class="borrar" type="text" id="txtidrol" readonly /></td>
                    </tr>
                    <tr>
                        <td>Ingrese nombre Rol</td>
                        <td><input class="borrar obligatorio" type="text" id="txtnombrerol" /></td>
                    </tr>
                    <tr>
                        <td>Ingrese descripcion Rol</td>
                        <td><input class="borrar obligatorio" type="text" id="txtdescripcionrol" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="btnAceptar" onclick="agregar()" type="button" class="btn btn-success">Aceptar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/rolpagina.js"></script>
